Components
packages
Resource.designer.cs

bin
obj

*.pidb
*.userprefs
*.swp
*.DS_Store
*.nib
*.suo
*.user
*.pfx
*.tmp
*.TMP
*_ReSharper.*/

Presentation
.paket/paket.exe
.fake/
.idea/
.paket/paket.targets
.vscode/
TestResult.xml
build/